<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plenty Of Guilds</title>
  <link rel="stylesheet" href="/css/output.css">
  <link href="https://unpkg.com/pattern.css" rel="stylesheet">
  
</head>



<body class="pattern-zigzag-lg primary">
  <div class="container mx-auto">
    <header class="flex flex-end py-4 bg-slate-700">
      <h1 class="flex-auto">
        <span role="img" aria-label="money"></span>
        <a href="/" class="text-5xl font-bold text-amber-600 center">Plenty Of Guilds</a>
      </h1>
      <nav class="flex px-4 items-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        <button><a href="/">Home</a></button>
        <button><a href="/profile">Dashoard</a></button>
        {{else}}
        <div class="">
          <a href="/login" class="font-bold text-xl text-zinc-50 bg-amber-600 p-2 rounded">Login</a>
        </div>
        {{/if}}
        
      </nav>
    </header>
    <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="./js/profile.js"></script>
  <script src="/js/homepage.js"></script>
</body>

</html>
