  {{> character-card}}
<div class="form-group row-span-1 grid grid-cols-3">
        <label>Rate the character here out of 10</label>
        <input class="form-input" type="text" id="character-rating" />
      </div>
      <div class="form-group row-span-1 grid grid-cols-3">
        <label>Type your review here</label>
        <input class="form-input" type="text" id="character-review" />
      </div>
<div class="save-review" >
     <button id="save-review" type="submit">POST REVIEW</button>
</div>
<script src="../js/reviews.js"></script>