  {{> character-card}}
  <form class="new-review-form">
<div class="form-group row-span-1 grid grid-cols-3">
        <label>Rate the character here out of 10</label>
        <textarea class="form-input" type="text" id="character-rating"></textarea>
      </div>
      <div class="form-group row-span-1 grid grid-cols-3">
        <label>Type your comment here</label>
        <textarea class="form-input" type="text" id="character-review" ></textarea>
      </div>
<div class="save-review" >
     <button type="submit" id="save-review" >POST COMMENT</button>
</div>
<script src="/js/profile.js"></script>
<script src="/js/review.js"></script>
  </form>

