<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      Homepage
      
    </h2>
    <p>
      <span for="img" aria-label="money"></span>
      <!-- Pass needed_funding value to the helper function -->
    </p>
    <h3>Find your player</h3>
     <form class="form character-form" id="character-form">
      <div class="form-group">
      <div class="form-group">
        <label for="password-login">Realm:</label>
        <input class="form-input" type="text" id="realm-choice" />
      </div>
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-choice" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Find</button>
      </div>
    </form>
  </div>
  <div class="col-md-7">
   <ul>
    <li class="realm"></li>
    <li class="character-name"></li>
    <li class="race"></li>
    <li class="active-spec-name"></li>
    <li class="active-spec-role"></li>
    <li class="gender"></li>
    <li class="faction"></li>
    <li class="a-points"></li>
    <li class="kills"></li>
   </ul>
   {{#if logged_in}}
   <button class="save-character">SAVE</button>
   {{else}}
   <h2>Log in or sign up to save characters</h2>
   {{/if}}
      <script src="../js/js1.js"></script>
  </div>
</div>

