<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      Homepage
      
    </h2>
    <p>
      <span for="img" aria-label="money"></span>
      <!-- Pass needed_funding value to the helper function -->
    </p>
    <h3>Find your player</h3>
     <form class="form character-form" id="character-form">
      <div class="form-group">
      <div class="form-group">
        <label for="password-login">Realm:</label>
        <input class="form-input" type="text" id="realm-choice" />
      </div>
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-choice" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Find</button>
      </div>
    </form>
  </div>
  <div class="col-md-7">
   <ul>
    <li>Realm: <span class="realm"></span></li>
    <li>Name: <span class="character-name"></span></li>
    <li>Race: <span class="race"></span></li>
    <li>Active Spec Name: <span class="active-spec-name"></span></li>
    <li>Active Spec Role <span class="active-spec-role"></span></li>
    <li>Gender: <span class="gender"></span></li>
    <li>Faction: <span class="faction"></span></li>
    <li>Points: <span class="a-points"></span></li>
    <li>Kills: <span class="kills"></span></li>
   </ul>
  
   {{#if logged_in}}
   <div class="save-character" >
   <button id="save-character" type="submit">SAVE</button>
   {{else}}
   <button hidden id="save-character" type="submit">SAVE</button>
   <h2>Log in or sign up to save characters</h2>
    </div>
   {{/if}}
  </div>
</div>
<script src="../js/js1.js"></script>


