<div class="row grid grid-cols-1 gap-4 md:grid-cols-2">
  <div class="col-span-1 px-4 border-4 bg-slate-600 p-2">
    <h2 class="text-center text-zinc-50 text-xl font-bold m-4">Login</h2>

    <form class="form login-form grid grid-rows-3">
      <div class="form-group row-span-1 grid grid-cols-2 text-zinc-50 mb-2">
        <label for="email-login" class="ml-8"><span class="text-xl font-bold">Email:</span></label>
        <input class="form-input text-slate-800 mr-4" type="text" id="email-login" />
      </div>
      <div class="form-group row-span-1 grid grid-cols-2 text-zinc-50 mb-2">
        <label for="password-login" class="ml-8"><span class="text-xl font-bold">Password:</span></label>
        <input class="form-input text-slate-800 mr-4" type="password" id="password-login" />
      </div>
      <div class="form-group grid grid-rows-1">
        <button class="font-bold text-xl text-zinc-50 bg-amber-600 p-2 rounded" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-span-1 px-4 border-4 bg-slate-600 p-2">
    <h2 class="text-center text-zinc-50 text-xl font-bold m-4">Signup</h2>

    <form class="form signup-form grid grid-rows-4">
      <div class="form-group row-span-1 grid grid-cols-2 text-zinc-50 mb-2">
        <label for="name-signup"><span class="text-xl font-bold">Username:</span></label>
        <input class="form-input text-slate-800" type="text" id="name-signup" />
      </div>
      <div class="form-group row-span-1 grid grid-cols-2 text-zinc-50 mb-2">
        <label for="email-signup"><span class="text-xl font-bold">Email:</span></label>
        <input class="form-input text-slate-800" type="text" id="email-signup" />
      </div>
      <div class="form-group row-span-1 grid grid-cols-2 text-zinc-50 mb-2">
        <label for="password-signup"><span class="text-xl font-bold">Password:</span></label>
        <input class="form-input text-slate-800" type="password" id="password-signup" />
      </div>
      <div class="form-group grid grid-rows-1">
        <button class="font-bold text-xl text-zinc-50 bg-amber-600 p-2 rounded" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
